<% if @current_user.name.present? %>
    <h1><%= @current_user.name %>'s Workouts</h1>
<% else%>
    <h1>Your Workouts</h1>
<% end %>

<!-- Can I put these workouts into date order-->
<% @current_user.workouts.each do |workout| %>
    <section class="workout">
        <p>Date: <%= workout.date %></p>
        <p>Session Focus: <%= workout.focus %></p>
        <p>Duration: <%= workout.duration %></p>
        <p>Contains <%= workout.exercises.count %> logged exercises</p>
        <%= link_to 'View details', workout_path(workout.id) %>
        <%= link_to 'Edit Workout Info', edit_workout_path(workout.id) %>
    </section>
<% end %>

<%= link_to "Add a workout", new_workout_path %>
