<h1>Login Page</h1>

<% if flash[:error].present?%>
    <%= flash[:error]  %>
<% end %>


<%= form_tag login_path do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>

    <%= label_tag :password%>
    <%= password_field_tag :password %>

    <%= submit_tag "Login"%>
<% end %>




<!--
<%= form_with url: login_path do |f|%> 

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>


<%= f.submit "Login" %>

<% end %>

-->





