<div class="container pe-5 ps-5 view-window">
    <h1>Edit Profile Info</h1>

    <%= form_for @current_user do |f| %>
        <%= f.label :name, :class => 'form-label' %>
        <%= f.text_field :name, :class => 'form-control w-50 mb-3' %>

        <%= f.label :height, :class => 'form-label' %>
        <%= f.number_field :height, :placeholder => "in cm", :class => 'form-control w-50 mb-3' %>

        <%= f.label :weight, :class => 'form-label' %>
        <%= f.number_field :weight, :placeholder => "in kgs", :class => 'form-control w-50 mb-3' %>

        <%= f.submit "Save Information", :class => "btn btn-success mt-2 w-50" %>
    <% end %>
</div>
