<h1>Profile</h1>

<p>Email: <%= @current_user.email %></p>

<% if @current_user.name.present? %>
    <p>Name: <%= @current_user.name %></p>
    <% else %>
    <p>Update Profile to add name</p>
<% end %>

<% if @current_user.height.present? %>
    <p>Height: <%= @current_user.height %>cm</p>
    <% else %>
    <p>Update Profile to add height</p>
<% end %>

<% if @current_user.weight.present? %>
    <p>Weight: <%= @current_user.weight %>kg</p>
    <% else %>
    <p>Update Profile to add weight</p> 
<% end %>

<% if  @current_user.weight.present? && @current_user.height.present? %>
    <p>BMI: <%= @bmi %> (<%= @bmi_cat %>)</p>
<% end %>


<%= link_to 'Update Profile', edit_user_path(@current_user) %>
<%= link_to 'View All Workouts', workouts_path %>
<%= link_to 'Add New Workout', new_workout_path %>
<%= link_to 'Delete Account' , user_path(@current_user), :method => :delete, :data => {:confirm => "Are you sure"}%>
