<!DOCTYPE html>
<html>
  <head>
    <title>GymTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='row'>
      <div class="home-page-image min-vh-100 col">
      
      </div>
      <div class='col d-flex align-items-center justify-content-center'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<!--
<nav class="navbar navbar-dark bg-dark mb-3 rounded-2 border border-light border-5">
        <div class="container-fluid text-light">
          <%= link_to "Home", root_path, :class => "nav-link" %>
          <% if @current_user.present? %>
            <%= link_to "Profile", user_path(@current_user), :class => "nav-link" %>
            <%= link_to "Workouts", workouts_path, :class => "nav-link" %>
            <%= link_to "Sign Out (#{ @current_user.email})", login_path, :method => 'delete', :class => "nav-link" %>
            <% if @current_user.admin%>
              <%= link_to 'All users', users_path, :class => "nav-link" %>
            <% end %>
          <% end %>
        </div>
      </nav>

-->