<!DOCTYPE html>
<html>
  <head>
    <title>GymTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container text-center">
      <nav>
        <% if @current_user.present? %>
          <%= link_to "Profile", user_path(@current_user) %>
          <%= link_to "Workouts", workouts_path %>
          <%= link_to "Sign Out", login_path, :method => 'delete' %>
        <% else%>
          <%= link_to 'Home', root_path %>
          <%= link_to 'All users', users_path %>
        <% end %>
      </nav>
      
      <%= yield %>
    </div>
  </body>
</html>
